*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family:'Khand', sans-serif;
}
body{ 
    background: #000000;
    padding: 0 10px ;
}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: #ffffff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}
.wrapper .title {
    font-size:  30px ;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form {
    width: 100%;
}
.wrapper .form .inputfield{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
.wrapper .form .inputfield label {
    width: 200px ;
    color: #000;
    margin-right: 10px;
    font-size: 17px;
  }
  .wrapper .form .inputfield .input,
   .wrapper .form .inputfield .textarea{

    width: 100%;
    outline: none;
    border: 2px solid #000;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all 0.3s ease ;
  }
  .wrapper .form .inputfield .textarea{
    resize: none;
    height: 100px;
}
.wrapper .form .inputfield .custom_select{
   position: relative;
   width: 100%;
   height: 37px;
}
.wrapper .form .inputfield .custom_select select{
    -webkit-appearance: none;
    appearance: none;
   border: 2px solid #000;
   width: 100%;
   height: 100%;
   padding: 8px 10px ;
   border-radius: 10px;
   outline: none;
}
.wrapper .form .inputfield .custom_select::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 8px solid ;
    border-color: black transparent transparent  transparent;
    pointer-events: none;
}
.wrapper .form .inputfield .input:focus,
 .wrapper .form .inputfield .textarea:focus,
 .wrapper .form .inputfield select:focus{
    border: 2px solid #fe8307 ;
}
.wrapper .form .inputfield p{ 
    font-size: 15px ;
    color: #000000 ;
}
.wrapper .form .inputfield .check{ 
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{ 
       position: absolute;
       top: 0;
       left: 0;
       opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
    width: 15px ;
    height: 15px ;
    border: 2px solid #000000;
    display: block;
    position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 2px;
    border: 2px solid ;
    border-color: transparent transparent #000000 #000000 ; 
    transform: rotate(-45deg);
    display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: #fe8307;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
}
.wrapper .form .inputfield .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 17px; 
    border: 0px;
    background:  #fe8307;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}
.wrapper .form .inputfield .btn:hover{
    background: #e1a34c;
}
.wrapper .form .inputfield:last-child{
    margin-bottom: 0;
}
@media (max-width:420px) {
    .wrapper .form .inputfield{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .inputfield label{
        margin-bottom: 5px;
    }
    .wrapper .form .inputfield.terms{
        flex-direction: row;
    }

}